
.vs/ProjectEvaluation/shijigroup.strings.v9.bin
.vs/ShijiGroup/config/applicationhost.config
.vs/ShijiGroup/CopilotIndices/17.12.38.29086/CodeChunks.db
.vs/ShijiGroup/CopilotIndices/17.12.38.29086/SemanticSymbols.db
.vs/ShijiGroup/DesignTimeBuild/.dtbcache.v2
.vs/ShijiGroup/FileContentIndex/360e5d5b-4ef2-4975-bad7-1fc88e59e4b7.vsidx
.vs/ShijiGroup/FileContentIndex/74ef3666-53dd-48c9-9e38-c0c9c331423a.vsidx
.vs/ShijiGroup/FileContentIndex/7792b786-3d52-4cdb-8efb-eea50239697b.vsidx
.vs/ShijiGroup/FileContentIndex/828d1414-3d2a-41af-8d1a-efbba1192613.vsidx
.vs/ShijiGroup/FileContentIndex/bb69762a-c100-42f4-af33-23b8b1cd9d60.vsidx
.vs/ShijiGroup/v17/.futdcache.v2
.vs/ShijiGroup/v17/.suo
.vs/ShijiGroup/v17/DocumentLayout.backup.json
.vs/ShijiGroup/v17/DocumentLayout.json
ShijiGroup/bin/Debug/net8.0/appsettings.Development.json
ShijiGroup/bin/Debug/net8.0/appsettings.json
ShijiGroup/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
ShijiGroup/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
ShijiGroup/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.InMemory.dll
ShijiGroup/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
ShijiGroup/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
ShijiGroup/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ShijiGroup/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
ShijiGroup/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
ShijiGroup/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
ShijiGroup/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
ShijiGroup/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
ShijiGroup/bin/Debug/net8.0/Microsoft.OpenApi.dll
ShijiGroup/bin/Debug/net8.0/ShijiGroup.deps.json
ShijiGroup/bin/Debug/net8.0/ShijiGroup.dll
ShijiGroup/bin/Debug/net8.0/ShijiGroup.exe
ShijiGroup/bin/Debug/net8.0/ShijiGroup.pdb
ShijiGroup/bin/Debug/net8.0/ShijiGroup.runtimeconfig.json
ShijiGroup/bin/Debug/net8.0/ShijiGroup.staticwebassets.endpoints.json
ShijiGroup/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
ShijiGroup/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
ShijiGroup/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
ShijiGroup/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
ShijiGroup/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ShijiGroup/obj/Debug/net8.0/ApiEndpoints.json
ShijiGroup/obj/Debug/net8.0/apphost.exe
ShijiGroup/obj/Debug/net8.0/EndpointInfo/ShijiGroup.json
ShijiGroup/obj/Debug/net8.0/EndpointInfo/ShijiGroup.OpenApiFiles.cache
ShijiGroup/obj/Debug/net8.0/ref/ShijiGroup.dll
ShijiGroup/obj/Debug/net8.0/refint/ShijiGroup.dll
ShijiGroup/obj/Debug/net8.0/ShijiGroup.AssemblyInfo.cs
ShijiGroup/obj/Debug/net8.0/ShijiGroup.AssemblyInfoInputs.cache
ShijiGroup/obj/Debug/net8.0/ShijiGroup.assets.cache
ShijiGroup/obj/Debug/net8.0/ShijiGroup.csproj.AssemblyReference.cache
ShijiGroup/obj/Debug/net8.0/ShijiGroup.csproj.BuildWithSkipAnalyzers
ShijiGroup/obj/Debug/net8.0/ShijiGroup.csproj.CoreCompileInputs.cache
ShijiGroup/obj/Debug/net8.0/ShijiGroup.csproj.FileListAbsolute.txt
ShijiGroup/obj/Debug/net8.0/ShijiGroup.csproj.Up2Date
ShijiGroup/obj/Debug/net8.0/ShijiGroup.dll
ShijiGroup/obj/Debug/net8.0/ShijiGroup.GeneratedMSBuildEditorConfig.editorconfig
ShijiGroup/obj/Debug/net8.0/ShijiGroup.genruntimeconfig.cache
ShijiGroup/obj/Debug/net8.0/ShijiGroup.GlobalUsings.g.cs
ShijiGroup/obj/Debug/net8.0/ShijiGroup.MvcApplicationPartsAssemblyInfo.cache
ShijiGroup/obj/Debug/net8.0/ShijiGroup.MvcApplicationPartsAssemblyInfo.cs
ShijiGroup/obj/Debug/net8.0/ShijiGroup.pdb
ShijiGroup/obj/Debug/net8.0/staticwebassets.build.endpoints.json
ShijiGroup/obj/Debug/net8.0/staticwebassets.build.json
ShijiGroup/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
ShijiGroup/obj/Debug/net8.0/staticwebassets.removed.txt
ShijiGroup/obj/Debug/net8.0/staticwebassets/msbuild.build.ShijiGroup.props
ShijiGroup/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.ShijiGroup.props
ShijiGroup/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.ShijiGroup.props
ShijiGroup/obj/project.assets.json
ShijiGroup/obj/project.nuget.cache
ShijiGroup/obj/ShijiGroup.csproj.nuget.dgspec.json
ShijiGroup/obj/ShijiGroup.csproj.nuget.g.props
ShijiGroup/obj/ShijiGroup.csproj.nuget.g.targets
